
{% extends 'base.html' %}

{% block content %}
<h1>Usuarios Cadastrados</h1>
<a href="{% url 'cadastrar_usuario' %}" class="btn btn-success mb-3">Cadastrar Novo</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Tipo</th>
            <th>Telefone</th>
            <th>Data de Cadastro</th>
        </tr>
    </thead>
    <tbody>
        {% for usuario in usuarios %}
        <tr>
            <td>{{ usuario.nome }}</td>
            <td>{{ usuario.email }}</td>
            <td>{{ usuario.get_tipo_display }}</td>
            <td>{{ usuario.telefone }}</td>
            <td>{{ usuario.data_cadastro }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
