{% extends 'base.html' %}
{% block content %}
<div class="text-center mt-5">
    <h1>Seja Bem-vindo ao SIGeT</h1>
    <p class="lead">Sistema Integrado de Gestão de Terrenos na Cidade do Luena</p>
</div>
<!--<div class="col-md-4 mt-3">
    <a href="{% url 'enviar_documento' %}" class="btn btn-outline-secondary btn-block">Enviar Documento</a>
</div>
<div class="col-md-4 mt-3">
    <a href="{% url 'listar_documentos' %}" class="btn btn-outline-secondary btn-block">Ver Documentos</a>
</div>-->
{% endblock %}
